.timer{
    display: flex;
    justify-content: center;
    gap: 15px;
}

.field {
    display: flex;
    flex-direction: column;
}

.value{
    font-size: 35px;
    font-weight: 600;
}

.label{
    font-weight: 400;
}